.home {
  background-image: url("https://raw.githubusercontent.com/Ayush6543/Files_img/main/Screenshot%20(135).png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  color: rgb(255, 0, 0);
  font-size: 25px;
}
